.remove-add-buttons-block {
  background-color: #d5e3ff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
  border-style: none;
}